
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dawning+of+a+New+Day&family=Henny+Penny&family=Honk:MORF@15&family=Island+Moments&family=Satisfy&display=swap');


.app-title{
    font-family:  "Henny Penny", 'sans-serif'
}